<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Certificate</title>
    <link rel="stylesheet" href="./certificate.css" />
  </head>

  <body>
    <div class="certificate">
      <div class="certificate-content">
        <div class="label">This certificate is presented to:</div>

        <div class="name">{NAME}</div>

        <div class="description">
          In recognition of your attendance and completion of the Microsoft
          Student Ambassadors
        </div>

        <div class="event">{EVENT}</div>

        <div class="host-label">Event Hosted By</div>

        <div class="host">{HOST}</div>

        <div class="ambassador">Microsoft Learn Student Ambassador</div>
      </div>
    </div>
  </body>
</html>
